# GCP Credentials & Project Setup
GOOGLE_APPLICATION_CREDENTIALS=secrets/gcp-key.json
GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name

# GCS Storage Paths
GCS_RAW_BUCKET=gs://your-gcs-bucket-name/raw
GCS_PROCESSED_BUCKET=gs://your-gcs-bucket-name/intermediate

# Spark Setup
SPARK_MASTER_URL=spark://spark-master:7077